.container{
    background-color: aqua;
    line-height: 100px;
    width: 125px;
    border: 2px solid;
    border-color: rgb(3, 3, 3);
}
.container2{
    background-color: lime;
    line-height: 100px;
    width: 125px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}
.container3{
    background-color: hotpink;
    line-height: 100px;
    width: 125px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}
.container4{
    background-color: black;
    line-height: 100px;
    width: 125px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);
}
.container5{
    background-color: white;
    line-height: 100px;
    width: 125px;
    border: 2px solid;
    border-color: rgb(0, 0, 0);

}